<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    {{!-- <script src='main.js'></script> --}}
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    {{>header}}
    {{!-- <h2>{{title}}</h2> --}}
    <p>This website Created By Dhaval Parmar. It Uses data from mapbox.com and weatherstack</p>
    <img src="img/1.jpg"/>
    <p>Created By : {{name}}</p>
    {{!-- <p>{{ErrorMessage}}</p>  --}}
    {{>footer}}
</body>
</html>