<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css"/>
    
</head>
<body>
    {{>header}}
    <p>Use This Website To Get Your Whether</p>
    <form>
        <input type="text" placeholder="Enter Location"/>
        <button>Search</button>
    </form>
    <span id="label"></span>
    {{!-- <h2>{{title}}</h2> --}}
    {{!-- <p>{{forecast}}</p>
    <p>{{location}}</p> --}}
    {{!-- <p>{{ErrorMessage}}</p>  --}}
    {{>footer}}

    <script src='js/app.js'></script>
</body>

</html>